@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
.App {
  text-align: center;
  background-color: #3E92CE; ;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}

#header{
  font-size: 40px;
  text-align: center;
  align-items: center;
  margin-inline: 525px;
  padding-left: 100px;
}

#medium{
  height: 45px;
  width:112px;
  border-radius: 8px;
}

#SubTitle{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SubTitle{
  font-size: 24;
}
